IMAGE_URL=
MAIL_PLACEHOLDER=mail@example.com
LOGIN_URL=https://chat.example.org/login
ALLOWED_DOMAINS=example.de,example.com
DOMAIN_HINT='Die Domain ist nicht erlaubt.'
API_URL=https://chat.example.org/api/v4/teams/<team_id>/invite/email
API_TOKEN=
